/*
===========================================
DDH Studio Enterprise 10.0
Grundlayout
===========================================
*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {

    width: 100%;
    height: 100%;

}

body {

    font-family:
        "Segoe UI",
        Arial,
        sans-serif;

    background: #F4F7FB;

    color: #1F2937;

}

#app {

    width: 100%;
    min-height: 100vh;

}